* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(223, 223, 223);
}

nav .navbar-brand span{
    font-weight: bold !important;
    color: rgb(247, 247, 247);
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 50%;
    padding: .1rem .4rem;
}

nav .navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul a {
    color: rgba(0, 0, 0, 0.692);
    font-weight: bold !important;
}

.sec-one h1{
    font-size: 3.5rem;
}

.sec-one p{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.582);
}